#about
	#me.text_block
		.header
			About me
		.description
			%p 
				I am 20 years old Computer Science  
				%br
				student from Poland.
			%p
				Webmastering is my passion, 
				%br 
				I love when ideas becomes reality
				%br 
				and static projects becomes alive. 
			%p
				I'm not afraid of challenges, 
				%br 
				they encourage me to work harder.
	#whatido
		.header
			I can do for you
		%ul.whatido
			%li.list private site / customized blog
			%li.list web for your company
			%li.list web apps to simplify your life
			%li.nonlist ...and whatever you will need!
	#technologies
		.rails
			.desc 
				For making my web apps I use Ruby 
				%br
				and Ruby on Rails framework
		.web
			.desc
				To make it look good I use 
				%br
				the latest web technologies