#projects
	#projects_banner
		.arrow#prev <
		.arrow#next >
		%ul.projects_list
			%li
				.photo
					= image_tag asset_path('drnona.jpg')
				.description
					%p
						Dr. Nona Blog is a customized blog app for private consultant,
						who asked me to make this page,
						to help her share news and info with her group and customers.
					%p
						Blog contains admin panel, for easily management of content.
						Calendar with incoming events and some special content for signed in user.
			%li.active
				= link_to 'https://smartsearching.herokuapp.com/' , rel: 'nofollow' do
					.photo.smart
						#check_this Check this online!
						= image_tag asset_path('smart.jpg')
				.description
					%p
						SmartSearch is an app for people who are going to buy a smartphone
						but they don't have knowledge about them and about market.
					%p 
						In three easy steps app asks user for main questions about usage and then
						checks all of smartphones to choose the right one.
					%p
						The most difficult part there was to make the smartphones database with current price
						and proper data. Unfortunately this idea collapsed, when I realized that comparing smartphones by numbers is not enough.
			%li
				.photo
					= image_tag asset_path('t_c.jpg')
				.description
					%p
						Tuning Crew is now in build phase. 
					%p
						This is going to be sociall app bringing together 
						passionates of tuning. Where they will be able to create account, create own projects, 
						comment and like other projects. 
					%p
						I addition there will be easy way to find projects by location, types and rankings.
					%p
						In future there will be added events and some other stuff.


	#about_projects
		.header 
			My projects
		.description
			%p
				I love when ideas become reality.	
			%p
				I am making all of my projects on my own.
				Starting from concept in my head, through designing
				and making it alive. 
			
			%p
				I am mainly concentrating on minimalism and good user experience.
			%p
				Everything I make
				gives me a lot of joy.